<h1><%= t '.title' %></h1><br>


<div class="row">
<div class="span2"><img src='/assets/anonymous3.jpg' width='150px'><br><center>Robert</center></div>
<div class="span2"><img src='/assets/anonymous3.jpg' width='150px'><br><center>Miro</center></div>
<div class="span2"><img src='/assets/benedikt_voigt3.jpg' width='150px'><br><center>Benedikt</center></div>
</div>
<br>
<%= t '.text_html' %>



