
<div><img src='/assets/startwork_urban_small.jpg' width='940px'></div>

<div class="row" style="margin-top:20px;">

<!-- Benedikt -->
<div class="hero-unit span4 column_same_height"><div  style="padding:20px;text-align:justify;">
	<h3>Benedikt Voigt (36): </h3><p style="font-size: 15px;">Diplom Informatiker mit MBA-Abschluss an der Sorbonne/CELSA. Als Nicht-Prokrastinations-Betroffener lässt er sich manchmal inspirieren, wie hübsch das Leben mit Aufschieben sein kann. Um anschließend sofort weiter in Ruby on Rails schönen Code zu programmieren.</p><p style="position: absolute;bottom: 11px;font-size: 15px;">E-Mail: <a href='mailto:benedikt@startwork.in'>benedikt@startwork.in</a></p>
</div></div>

<!-- Robert -->
<div class="hero-unit span4 column_same_height"><div  style="padding:20px;text-align:justify;">
	<h3>Robert Sarrazin (29): </h3><p style="font-size: 15px;">Nach dem Studium der Humanmedizin arbeitete er 3 Jahre als Arzt an einer Berliner Klinik für Psychiatrie und Psychotherapie. Im Rahmen seiner Promotion lieferte er sich einen jahrelangen Ringkampf mit dem Phänomen der Aufschieberitis. Hieraus entstand die Idee zu StartWork.</p><p style="position: absolute;bottom: 11px;font-size: 15px;">E-Mail: <a href='mailto:robert@startwork.in'>robert@startwork.in</a></p>
</div></div>

<!-- Miro -->
<div class="hero-unit span4 column_same_height"><div  style="padding:20px;text-align:justify;"><div>
	<h3>Miro Wilms (24): </h3><p style="font-size: 15px;">Miro hat BWL an der Uni Mannheim studiert, um sich danach direkt in die Berliner Gründerszene abzusetzen. Dort versucht er jetzt den Reizen der Hauptstadt zu widerstehen. Mit StartWork klappt das auch schon ganz gut (meistens jedenfalls).</p><p style="position: absolute;bottom: 11px;font-size: 15px;">E-Mail: <a href='mailto:miro@startwork.in'>miro@startwork.in</a></p>
</div></div>

</div>
