<h1>Camera settings</h1>
<br>
<div class="row">
<div class="span5">
	
	<div id="camera_settings" data-session_id="<%=@session_id %>" data-tok_token="<%=@tok_token%>" data-api_key="<%=@api_key%>" 
		style="background-color:grey;height:300px; width:300px">
		

				<span id="publisher_box_tmp" class="label label-warning">
					 please wait...
				</span>
	</div> <!-- camera-->
	
	</div>

<div class="span7">
   <div class="well">
   	<h2>Allow always access of the camera</h2>
<ol><li><b>Open context menue:</b> Please right-click (Windows) or Control-click (Macintosh) on the flash application. </li>
	<li><b>Select Settings</b> ("Einstellungen")</li>
	<li><b>Choose the privacy tab</b> ("Zugriffsschutz")</li>
	<li><b>Set the "allow" and "remember" checkboxes</b> ("Zulassen und Speichern")</li>
	</ol>
	<br><br>Do you see your video?<br>
						
		<a class="btn btn-primary" href="/">If successful, continue</a><br><br>				
		If you experience any troubles, please visit the website of the 
				<a href="http://helpx.adobe.com/flash-player.html" target="_blank">Adobe flash player</a>.
    </div>

</div>
</div>


