<h1>Wirkt StartWork tatsächlich?</h1><br><br>

<div class="row">
<div class="span3">
<img src="/assets/wirkung_gegen_prokrastination.png" width="200px">
</div>
<div class="span5">
	<p>Unter Prokrastination versteht man das nicht notwendige Aufschieben von Arbeit, obwohl negative Konsequenzen durch das Aufschieben drohen. 
	In einer wissenschaftlichen Studie mit 22 Studenten wurde festgestellt, dass die Wahrscheinlichkeit zu prokrastinieren durch StartWork durchschnittlich um 73% reduziert wird.</p>
	
	<p>	Die Probanden empfanden das Arbeiten mit StartWork außerdem überwiegend als weniger anstrengend und angenehmer im Vergleich zum Arbeiten ohne StartWork. Dieser Effekt wird auf gegenseitige Ansteckung im Rahmen einer positiven Gruppendynamik zurückgeführt.
	(hier klicken, um Studie vollständig anzuschauen).</p>


	Weitere Informationen über Prokrastination:
	<ul>
	<li>Schätzungen besagen, dass 80-95% aller Studenten regelmäßig prokrastinieren.</li>
	<li>50% aller Studenten prokrastinieren systematisch und in problematischem Ausmaß.</li>
	<li>Studenten verbringen zu Prüfungszeiten im Durchschnitt ca. ein Drittel ihres Tages mit Prokrastination.</li>
		</ul>
<%=link_to raw("Mehr über Prokrastination erfahren &raquo;"), scientific_principles_path,:class => "btn btn-primary", :style=>"width:230px" %><br><br>
<%=link_to raw("Mehr über Pilot-Studie erfahren &raquo;"), pilot_study_path,:class => "btn btn-primary",:style=>"width:230px"  %>

	
</div>

</div>




