

<div id='fb-root' data-app='<%= fb_app %>' style='position: absolute;'></div>



<div id="ben" class="btn">hit me</div>
<br><br>

<div id="ben_launch_fb_dialog" class="btn">ben_launch_fb_dialog</div>

    <h3 style="text-align:left">Verabrede dich mit deinen Freunden</h3>





<div id="fb_request_friends_div"> </div>
