<%- content_for(:head) do -%>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
<%- end -%>

<div id="pop_up_window" class="btn btn-primary">pop up window</div>


<div id="fb-root"></div>
<br><br>
<div id="send_requests" class="btn btn-primary">Open facebook request dialogue</div>
<br><br>