<%- content_for(:head) do -%>
  <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" -%>
<%- end -%>


<div id='fb-root' data-app='<%= fb_app %>' style='position: absolute;'></div>

<div id="ben" class="btn">hit me</div>

    <h3 style="text-align:left">Verabrede dich mit deinen Freunden</h3>





<div id="fb_request_friends_div"> </div>
