<html>
    <head>
      <title>My Facebook Login Page</title>
    </head>
    <body>
      
<div class="btn" onClick="_gaq.push(['_trackPageview', '/click/sign_up'])">PageViewNew</div><br>

<div class="btn" onclick="pageTracker._trackPageview('/click/sign_up')"  %>PageView</div>
    </body>
 </html>