
<% if !user_signed_in? %>

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Welcome</h1><br>
<p>curiosity is the driver of learning.</p>
<p>But sometimes you need just plain discipline to get through a long and exhausting task.</p>
<p>For these tasks we help you: join our website to work in learning groups together.</p>
	
 <p><a class="btn btn-primary btn-large" href="<%= how_it_works_path%>">Learn more &raquo;</a></p>

  </div><!-- end of main hero unit -->
                       
<% else %>
<br>
	<%= button_to "camera", camera_path, :method => :get%><br>
	
	<%= button_to "learning groups", groups_path, :method => :get%>
	
	

<% end %>