


  <div class="hero-unit">
	<h1><%= t '.title' %></h1>
	 <br>
	
	<%= t(".text_html") %> 
	 <a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>"><%= t ".sign_up"%> &raquo;</a></p>
 </div>
