
     <%if current_user %>
		<h1><%= t '.title_current_user' %></h1>
		 <br>
		<div class="row">
		  <div class="span8">
		<%= t(".text_current_user_html") %>
        </div></div>

 <% else %>

  <div class="hero-unit">
	<h1><%= t '.title' %></h1>
	 <br>
	
	<%= t(".text_html") %> 

 </div>

<% end %>
