  <div class="hero-unit">
     <%if current_user %>
		<h1><%= t '.title_current_user' %></h1>
		 <br>
		<div class="row">
		  <div class="span8">
		<%= t(".text_current_user_html") %>
        </div></div>
		     <h2>Erklärvideo</h2>
<iframe src="http://player.vimeo.com/video/44444224?title=0&amp;byline=0&amp;portrait=0&amp;color=005580" width="600" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>		
		

		
	
		

 <% else %>


	<h1><%= t '.title' %></h1><br>
<!--	<div class="row">
	  <div class="span5">	

	</div>
		<div class="span5">
      </div>

		</div>-->

				<%= t(".text_html") %><br>
<iframe src="http://player.vimeo.com/video/44444224?title=0&amp;byline=0&amp;portrait=0&amp;color=005580" width="600" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>	


<% end %>
 </div>