<%- content_for(:background_image) do -%>
        background-image:url('/assets/paper_bg.jpg')
<%- end -%>

<%- content_for(:first_in_container) do -%>
<div style="background:url('/assets/coffee.png') no-repeat;width: 550px;height: 510px;position: absolute;left: 0;top: 0;z-index: 0;"></div>
<%- end -%>

<div class="row">
<!-- LINKER BLOCK -->
<div class="white_col span8 column_same_height">
  <div style="margin:20px 40px;">
    <h2>Wie funktioniert das jetzt?!</h2>
    <div class="row" style="margin-top:20px;">
      <div class="span4 well">
        <h4>Fenster anordnen</h4>
        <img src="/assets/9010_button.png">
      </div>
      <div class="span3">
        <h4>Die Arbeitssession</h4>
        <img src="/assets/">
      </div>
      <h2>Dieses Fenster kannst du jetzt schließen und anfangen zu arbeiten!</h2>
    </div>
  </div>
</div>

<!-- RECHTER BLOCK -->
<div class="white_col span4 column_same_height">
  <div style="margin:20px;text-align:justify;">
    <center><h2 style="margin-bottom:20px;">FAQ</h2></center>
    <a href="#" data-toggle="collapse" data-target="#whats_shown" style="color:black;"><h4>Was sehen die anderen?</h4></a>
    <hr>
    <div id="whats_shown" class="collapse" style="margin-bottom:20px;">
      <p>Sie sehen nur das Bild deiner Webcam, dass du links siehst.<br>Sonst wird nichts übertragen, auch nicht dein Bildschirm!</p>
      <p>In deiner Gruppe sind maximal 4 Leute, die du widerum per Webcam sehen kannst.</p>
    </div>
    <a href="#" data-toggle="collapse" data-target="#who_else" style="color:black;"><h4>Wer sind die anderen?</h4></a>
    <hr>
    <div id="who_else" class="collapse">
      <p>Neben deinen Freunden sind können noch weitere Leute dabei sein. Startwork versucht immer dir ähnliche Arbeitspartner zu finden!</p>
      <p>Wenn du z.B. Jura in Berlin studierst, versuchen wir solche Studenten dazuzuholen!</p>
    </div>
  </div>  
</div>

</div><!-- main row -->

<div id="fb-root" data-app="<%=@app%>" style="position: absolute;left: 150px;top: 40px;"></div>