  <%- content_for(:background_image) do -%>
          background-image:url('/assets/paper_bg.jpg')
  <%- end -%>

  <%- content_for(:first_in_container) do -%>
<div style="background:url('/assets/coffee.png') no-repeat;width: 751px;height: 836px;position: absolute;left: 0;top: 0;z-index: 0;"></div>
<%- end -%>

<div class="hero-unit" style="background:white;position: relative;margin-top:70px;padding:30px 40px;">
	<h2>Wie funktioniert das jetzt?</h2>
	<div class="row" style="margin-top:20px;">
		<div class="span5">
			<div style="height:230px;">
				<p>
		       		Das Videofenster soll immer sichtbar bleiben!
		       	</p>
		       	<p>
		       		bitte passe die anderen Fenster entsprechend an. Dadurch seid ihr stehts in Kontakt mit den anderen und wirkt Startwork am stärksten:
		       	</p>
	       	</div>
	       	<div style="background:url('/assets/9010.png');background-size:380px 380px;height:380px;"></div>
		</div>
		<div class="span5">
			<div style="height:230px;">
				<p>
					Ein Timer strukturiert die Arbeit:
				</p>
				<p>
					50 Minuten Arbeitszeit - 10 Minuten Pause
				</p>
				<p>
					In den Pausen könnt ihr euch unterhalten, euch einen Kaffee holen, usw.
				</p>
				<p>
					In der Arbeitszeit solltet ihr bei der Sache bleiben und nicht aufstehen, telefonieren, usw.
				</p>
			</div>
			<div style="background:url('/assets/wecker_button.png');background-size:380px 380px;height:380px;"></div>
		</div>
	</div>

	<br>
       <p>(Optional: Erzählt euch zusätzlich nach dem Einloggen gegenseitig kurz aber möglichst konkret, 
       was ihr heute schaffen wollt.
        Am Ende des gemeinsamen Arbeitstages soll sich nochmal gegenseitig erzählt werden,
         was man davon geschafft hat. 
         Dieses zusätzliche wechselseitige „Commitment“ kann bei Bedarf 
         zur Verstärkung des Effekts von StartWork genutzt werden).
       </p><br>
</div>