<%- content_for(:background_image) do -%>
        background-image:url('/assets/paper_bg.jpg')
<%- end -%>

<%- content_for(:first_in_container) do -%>
<div style="background:url('/assets/coffee.png') no-repeat;width: 550px;height: 510px;position: absolute;left: 0;top: 0;z-index: 0;"></div>
<%- end -%>

<div class="row">
<!-- LINKER BLOCK -->
<div class="white_col span9 column_same_height" style="height: 530px; ">
  <div style="margin:20px 40px;">
    <h2>Wie funktioniert das jetzt?!</h2>
    <div class="row" style="margin-top:20px;">
      <div class="span3 well" style="height:450px;">
        <h4>Fenster anordnen</h4>
        <p>Das StartWork Fenster muss immer sichrbar sein</p>
        <img src="/assets/9010_button.png">
      </div>

      <div class="span4 well" style="height:450px;">
        <h4>Das StartWork Fenster</h4><p>Hier siehst du die anderen Leute aus deiner Gruppe und die verbleibende Arbeitszeit</p>
        <div class="row">
          <div class="span2">
            <div class="blue_arrow_dr" style=" width: 96px; height: 28px; background-size: 96px 28px; top: 170px; left: 450px; "></div>
            <div class="blue_arrow_ur" style=" width: 96px; height: 28px; background-size: 96px 28px; top: 265px; left: 460px; "></div>
            <div class="blue_arrow_dr" style=" width: 96px; height: 28px; background-size: 96px 28px; top: 330px; left: 450px; "></div>
            <div class="white_col" style=" min-height: 0;margin-top:20px;padding: 5px; overflow: auto;">
              <center><h4>Timer</h4></center>
              <p>50 Minuten Arbeitszeit</p>
              <p>10 Minuten Pause</p>
            </div>
            <div class="white_col" style=" min-height: 0; padding: 5px; overflow: auto;">
              <center><h4>Walkie-Talkie Button</h4></center>
              <p>Gedrückt halten zum sprechen</p>
            </div>
            <div class="white_col" style=" min-height: 0; padding: 5px; overflow: auto;">
              <center><h4>Webcams der anderen</h4></center>
              <p>Hier siehst du untereinander die Webcams der anderen</p>
            </div>
          </div>
          <div class="span2">
            <img src="/assets/worksession.jpg">
          </div>
        </div>

      </div>
      <h2>Dieses Fenster kannst du jetzt schließen und endlich loslegen! :-)</h2>
    </div>
  </div>
</div>

<!-- RECHTER BLOCK -->
<div class="white_col span3 column_same_height">
  <div style="margin:20px;text-align:justify;">
    <center><h2 style="margin-bottom:20px;">FAQ</h2></center>
    <a href="#whats_shown" data-toggle="collapse" data-target="#whats_shown" style="color:black;"><h4>Was sehen die anderen?</h4></a>
    <hr>
    <div id="whats_shown" class="collapse" style="margin-bottom:20px;">
      <p>Sie sehen nur das Bild deiner Webcam, dass du links siehst.<br>Sonst wird nichts übertragen, auch nicht dein Bildschirm!</p>
      <p>In deiner Gruppe sind maximal 4 Leute, die du widerum per Webcam sehen kannst.</p>
    </div>
    <a href="#" data-toggle="collapse" data-target="#who_else" style="color:black;"><h4>Wer sind die anderen?</h4></a>
    <hr>
    <div id="who_else" class="collapse">
      <p>Neben deinen Freunden sind können noch weitere Leute dabei sein. Startwork versucht immer dir ähnliche Arbeitspartner zu finden!</p>
      <p>Wenn du z.B. Jura in Berlin studierst, versuchen wir solche Studenten dazuzuholen!</p>
    </div>
  </div>  
</div>

</div><!-- main row -->

