<div class="row">
<div class="span8">

<h1>Pilotstudie</h1>
<h2>Einleitung</h2>
<p>
Die Studie wurde durchgeführt, um einen „proof of concept“ zu erbringen und die Wirkungsweise von StartWork bei der Zielgruppe genauer zu verstehen. Überprüft werden sollte die Hypothese, dass die Nutzung von StartWork zu weniger Prokrastination führt.</p>

<h2>Methode</h2>
<p>Die Studie fand über zwei Wochen zu Beginn des Semesters statt und schloss insgesamt 24 Teilnehmer ein. Ein automatisiertes Anrufsystem sandte 10 mal täglich zufallsgesteuert einen Handyanruf zu den Probanden. Zum Zeitpunkt des Handyklingelns trugen die Probanden in ein vorbereitetes Notizbuch ein, was sie gerade für eine Tätigkeit ausübten und ob diese Tätigkeit Prokrastination darstellte oder nicht. In der ersten Woche sollte ohne StartWork gearbeitet werden. In der zweiten Woche bildeten 8 Teilnehmer die Kontroll- und 14 Teilnehmer die Probandengruppe. Die Probandengruppe wurde in Zweier-Gruppen aufgeteilt und nutzte in der zweiten Woche StartWork. Die Kontrollgruppe arbeitete auch in der zweiten Woche so wie sonst auch ohne StartWork. </p>

<p>Bei den Studienteilnehmern handelte es sich um Studenten unterschiedlicher Fachrichtungen, die aus mehreren Quellen rekrutiert wurden: Werbung auf Facebook, Inserat auf www.probanden-info, Fachschafts-Newsletter der Europa-Universität Viadrina, persönliche Ansprache auf dem Campus der Humboldt-Universität zu Berlin. Als Aufwandsentschädigung wurden 40€ gezahlt, die jedoch ausdrücklich nicht an das Ausmaß der Prokrastination gebunden waren, sondern nur von der ordnungsgemäßen Studienteilnahme abhingen. Bedingungen für die Teilnahme an der Studie waren psychische Gesundheit und das Vorhaben, in den beiden Studienwochen durchschnittlich mindestens zwei Stunden täglich zu arbeiten. </p>

<p>Es wurden initial 24 Probanden in die Studie eingeschlossen, von denen insgesamt 4 Teilnehmer dem Dropout unterlagen. 2 Teilnehmer brachen ohne nähere Begründung die Studienteilnahme in den ersten drei Tagen ab. Am Ende der Studie mussten 2 weitere Teilnehmer aus der Probandengruppe aufgrund außergewöhnlich belastender Lebensumstände bzw. fehlender Zeit für Studiertätigkeiten wegen unvermeidbarer beruflicher Beanspruchung ausgeschlossen werden. </p>

<p>Kurz vor Beginn und am Ende der Studie fanden zwei Termine statt, während derer der Begriff der Prokrastination den Studienteilnehmern erklärt, die Teilnehmer in Zweier-Gruppen aufgeteilt und Fragebögen ausgefüllt wurden. Prokrastination sollte dann einheitlich eingetragen werden, wenn die Teilnehmer zu einem Zeitpunkt, an dem sie sich ursprünglich eine Arbeitstätigkeit vorgenommen hatten, stattdessen ohne dringende Notwendigkeit eine kurzfristig angenehmere Handlung ausübten. </p>

<p>Insgesamt wurden 2800 Handysignale an 20 Studienteilnehmer gesendet, von denen 95,6% mit einem Notizbucheintrag versehen wurden (N=2676). 

<h2>Ergebnisse</h2>
Es erfolgte zunächst die Aufteilung in die vier Gruppen Probanden in Woche 1 und 2 sowie Kontrollgruppe in Woche 1 und Woche 2. Als Nächstes wurden sogenannte kritische Punkte identifiziert, an denen sich die Studienteilnehmer vorgenommen hatten, zu arbeiten (isolierte Tätigkeiten wie z.B. Lernen oder Hausarbeit schreiben). Als kritische Punkte (N=950) galten dementsprechend die Zeitpunkte, an denen ein Studienteilnehmer entweder einer Arbeitstätigkeit nachging oder prokrastinierte. Die Häufigkeit dieser kritischen Punkte differierte laut Varianzanalyse leicht zwischen den genannten vier Gruppen (F=2,842, p=0,037). Die Kontrollgruppe in Woche 1 versuchte offenbar am Meisten zu arbeiten, die Probandengruppen in Woche 1 am Wenigsten. Die Unterschiede lagen laut deskriptiver Statistik jedoch im einstelligen Prozentbereich. </p>

<p>
In der Varianzanalyse der Prokrastinationshäufigkeit an den kritischen Punkten zwischen denselben vier Gruppen zeigte sich außerdem, dass zwischen den Gruppen Probanden Woche 1, Kontrollgruppe Woche 1, Kontrollgruppe Woche 2 kein signifikanter Unterschied bestand, jedoch die Gruppe der Probanden in Woche 2 signifikant seltener prokrastinierte als die anderen 3 Gruppen (p=0,000, F=21,699). Die Unterschiede sind in einer Kreuztabelle (Tab. 1) dargestellt,  deren Signifikanz durch einen Chi-Quadrat-Test ebenfalls bestätigt wurde (p=0,000; N=950). 

<figure>
  <img src="/assets/kreuztabelle.png" width="500px" alt="Kreuztabelle">
  <figcaption>Tab. 1: Kreuztabelle, Häufigkeit von Prokrastination an den kritischen Punkten aufgeteilt nach Gruppen. Der statistisch zu erwartende Wert ist jeweils in Klammern dargestellt. Die Proban-dengruppe in Woche 2 prokrastiniert als einzige Gruppe weniger als erwartet (p=0,000; N=950).</figcaption>
</figure>

</div></div>


<div class="row">
<div class="span4">
	<figure>
	  <img src="/assets/prokrastination_in_probandengruppe.png"  >
	  <figcaption>Abb 1: Deskriptive Darstellung der Pro-krastinationshäufigkeit in der  Proban-dengruppe in Woche 1 und Woche 2 bei geplanter Arbeitssession.</figcaption>
	</figure>
	</div>
<div class="span4">	
	
<p>Die zu beantwortende Fragestellung lautete, wie sich das Risiko zu einem ursprünglich für Arbeitstätigkeit vorgesehenen Zeitpunkt zu prokrastinieren ver-ändert, abhängig davon ob für diesen Zeitpunkt eine Arbeitsession auf StartWork geplant ist oder nicht. Um die Beantwortung dieser Frage klarer herauszu-arbeiten, wurde als Implementationsfragestellung eine fünfte Gruppe aus Notizbucheinträgen unab-hängig von Personen gebildet. Diese Gruppe umfasste alle Einträge der Probandengruppe in Woche 2, bei denen gleichzeitig eine Arbeitsession auf StartWork von den WorkBuddies geplant worden war. Der Unterschied in der Prokrastinationshäu-figkeit an den kritischen Punkten zwischen Proban-dengruppe Woche 1 (N=252) und Probandengruppe Woche 2 bei geplanter Arbeitsession (N=116) wurde mit einem Mann-Whitney-U-Test (p=0,000) und einem t-test (p=0,000) auf Signifikanz getestet. In Abbildung 1 ist der Unterschied deskriptiv dargestellt. Die absolute Prokrastinationshäufigkeit sank jeweils an den kritischen Punkten von 70,2%  in der Probandengruppe in Woche 1 auf 19 % in der Probandengruppe in Woche 2, wenn gleichzeitig eine Worksession auf Startwork geplant worden war. Dies entspricht einer Reduktion des relativen Risikos zu prokrastinieren um 73%. Das 95%-Konfidenzintervall des t-tests für die Größe des Unterschieds der absoluten mittleren Prokrastinations-häufigkeiten befand sich hierbei zwischen 41,6% und 61%.
</p>
</div></div>

<div class="row">
<div class="span8">
	<figure>
	  <img src="/assets/prokrastination_nach_probanden.png"  >
	  <figcaption>Abb 2: Deskriptive Darstellung der Reduktion der Prokrastinationshäufigkeit an den kritischen Punkten von Woche 1 zu Woche 2 zu Zeitpunkten mit Worksessions aufgeteilt nach Probanden. Proband 1 (N=26, p=0,043), Proband 2 (N=29, p=0,001), Proband 3 (N=65, p=0,000), Proband 4 (N=75, p=0,000), Proband 5 (N=28, p=0,071), Proband 6 (N=26, p=0,008), Proband 7 (N=29, p=0,004), Proband 8 (N=40, p=0,000), Proband 9 (N=24 p=0,12), Proband 10 (N=19, p=0,225), Proband 11 (N=28, p=0,023), Proband 12 (N=21, p=0,005). Bei den Probanden 5, 9 und 10 bestand kein signifikanter Unterschied.</figcaption>
	</figure>

<p>Damit die Reduktion der Prokrastinationshäufigkeit nach Probanden getrennt beurteilt werden konnte, wurden mithilfe eines Mann-Whitney-U-Tests die Signifikanz der unterschiedlichen Häufigkeit, an kritischen Punkten zu prokrastinieren von Woche 1 zu Woche 2 zu Zeitpunkten mit Worksession jeweils geprüft (s. Abb.2). </p>

<p>Um besser zu verstehen, auf welche Weise StartWork die Probanden beeinflusste, füllten die 12 Probanden nach der Studie Fragebögen aus, deren Ergebnisse in Abbildung 3 zu sehen sind. Die Fragen nach konsequenterer Einhaltung der Arbeitsplanung, besserer emotionaler Einstellung zur Arbeit, weniger Anstrengung bei der Arbeit und insgesamt fördernder Wirkung auf die Leistung durch StartWork wurden überwiegend positiv beantwortet.

	<figure>
	  <img src="/assets/frageboegen.png"  >
	  <figcaption>Abb. 3: Ergebnisse der Fragebögen in der Probandengruppe.</figcaption>
	</figure>


<h2>Diskussion</h2>
<p>Etwas problematisch ist die Schwierigkeit zu einer einheitlichen Verwendung des Begriffes „Prokrastination“ zu kommen. Aktuell existiert auch im wissenschaftlichen Bereich keine einheitliche Definition von Prokrastination, dennoch gewinnen die meisten Menschen nach einer kurzen Erklärung eine klare Vorstellung davon, was Prokrastination ist. Da die Studenten selber einschätzen sollten, ob die zu einem bestimmten Zeitpunkt ausgeübte Tätigkeit Prokrastination war oder nicht, ist es möglich, dass durch eine uneinheitliche Klassifizierung Ergebnisse etwas verzerrt wurden. 
Hervorzuheben ist, dass die Studie unter erschwerten Bedingungen stattfand, die die Entfaltung der vollen Wirkung von StartWork potentiell erheblich behinderten. Viele Probanden klagten über technische Probleme mit dem für die Studie verwendeten frühen Prototypen wie Verbindungabrisse, erfolglosen Einloggversuchen, Schwierigkeiten bei der Übertragung von Sprache, Ausfall der automatischen Sprachabschaltung in den Pausen, Fehlfunktionen im Kalender. Zusätzlich kannten sich die WorkBuddies nicht, sondern mussten sich erst kennenlernen und auch die Terminabsprache war mit nur einem WorkBuddy erschwert. Es ist denkbar, dass das Konzept von StartWork noch besser funktioniert, wenn die WorkBuddies miteinander befreundet sind, die Absprache von passenden Terminen durch mehrere potentielle WorkBuddies erleichtert ist und keine nervenaufreibenden technischen Probleme auftreten. 
</p>

<p>
Insgesamt stützt die Studie die vorhergehenden Annahmen über StartWork und bestätigt die Hypothese der Wirkung gegen Prokrastination. Diese Ergebnisse müssten jedoch in einer erneuten Studie mit einer größeren Stichprobe verifiziert werden. Hierbei könnte dann möglicherweise auch geklärt werden, inwiefern die Wirkung von StartWork vom Ausmaß an Betroffenheit von Prokrastination abhängt, was bei dieser Studie aufgrund der kleinen Stichprobe und mangels hinreichend validierter Fragebögen nicht möglich war. Die bei dieser Studie verwendeten Fragebögen (Abb.3) lassen aus dem gleichen Grund ebenfalls nur eingeschränkte Aussagen zu.
</p>

<%=link_to raw("Zurück"), effect_path,:class => "btn btn-primary"%>


</div>
</div>