<div class="row">
<div class="span8">
	<h1>Wissenschaftliche Grundlagen zu Prokrastination</h1><br>
<h2>1. Häufigkeit und Auswirkungen</h2>
Studienergebnisse:
<ul>
<li>	Schätzungen besagen, dass 80-95% aller Studenten regelmäßig prokrastinieren.</li>
<li>	75% aller Studenten würden sich selber als Prokrastinierer bezeichnen.</li>
<li>50% aller Studenten prokrastinieren systematisch und in problematischem Ausmaß.</li>
<li>Studenten verbringen zu Prüfungszeiten im Durchschnitt ca. ein Drittel ihres Tages mit Prokrastination.</li>
<li>Mehrere Studien zeigten, dass Prokrastinierer insgesamt signifikant schlechtere Ergebnisse hervorbringen. Eine Studie konnte diesen Befund nicht bestätigen.</li>
<li>Die meisten Menschen charakterisieren Prokrastination als schlecht, schädlich und verrückt.</li>
Prokrastination wirkt sich negativ auf das erlebte allgemeine Wohlbefinden des Betroffenen aus. 
<li>95% der Betroffenen möchten ihre Prokrastination reduzieren.</li>
</ul>

<h2>2. Entstehung und Entwicklung über die Lebenszeit</h2>
<p>
Da Prokrastination über lange Zeitläufe und in unterschiedlichen Situationen relativ große Konstanz aufweist, wird Prokrastination in der aktuellen Forschung überwiegend als Persönlichkeitseigenschaft angesehen, die nur in bestimmten Fällen als Krankheitssymptom eingeordnet werden kann. </p>
<p>
	Prokrastination geht mit dem Alter leicht zurück. Es wird angenommen, dass das Individuum mit der Zeit besser lernt, mit Prokrastination umzugehen. Mit dem sogenannten Marshmallow-Test und Langzeit-Folgeuntersuchungen konnte gezeigt werden, dass die unterschiedlich ausgeprägte Fähigkeit bei 4- bis 6-jährigen Kleinkindern auf eine Belohnung zu warten, um anschließend eine noch größere Belohnung zu erhalten, einen hohen prädiktiven Wert für den späteren Lebenserfolg als Erwachsene aufweist. Wesentliche für die Selbstregulation relevante Komponenten sind also bereits im Kleinkindalter angelegt.</p>
	<p>
In einer Zwillingsstudie konnten Hinweise gefunden werden, dass Prokrastination mit genetischen Faktoren assoziiert ist. Prokrastination ist außerdem mit einem Cluster von weiteren Persönlichkeitseigenschaften wie Impulskontrolle, Beharrlichkeit, Arbeitsdisziplin, Pflichtbewusstsein, Fähigkeit zum Zeitmanagement und der Fähigkeit methodisch zu arbeiten negativ verbunden.</p>

<h2>3. Behandlungsmethoden</h2>
<p>Anlaufstellen für Hilfesuchende, die unter Prokrastination leiden, sind Studienberatungen, Coaches und Psychotherapeuten. Außerdem existiert umfangreiche Ratgeberliteratur zu dem Thema. Die gebotenen Hilfestellungen umfassen die Auseinandersetzung mit den Themenfeldern Arbeitsorganisation, Lebensplanung mit Bewusstwerdung der eigenen Ziele und Prioritätensetzungen, Optimierung der eigenen emotionalen Haltung, praktisch anwendbare Tips zur kognitiven Selbststeuerung in kritischen Situationen und nicht zuletzt Psychotherapie bei massiven Störungsbildern mglw. im Rahmen einer diagnostizierbaren psychischen Erkrankung. Repräsentative Studien, in welchem Maße die aufgeführten Methoden zur Reduktion von Prokrastination führen, existieren nicht.</p>
 

<%=link_to raw("Zurück"), effect_path,:class => "btn btn-primary"%>

</div></div>