<!--<h1>Studie</h1>
<br>
-->
<p>
<a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>">Jetzt für die Studienteilnahme registrieren &raquo;</a></p>
<br>

<h3>Worum geht es bei der Studie?</h3>
<p>Nahezu alle Studenten haben ein mehr oder weniger großes Disziplin-Problem. Dieses Disziplin-Problem lässt sich sehr wirksam lösen, wenn man sich mit einem oder mehreren Freunden zum gemeinsamen Arbeiten über einen festgelegten Zeitraum an einem bestimmten Ort verabredet. Diese Art des Arbeitens soll online über Videokonferenz nachgebildet und die Wirksamkeit in Bezug auf das Disziplin-Problem mit dieser Studie untersucht werden. </p> 

<h3>Wer kann an der Studie teilnehmen?</h3>
<p>Jeder Student, der vom 28.3.12 bis zum 12.4.12 im Durchschnitt mindestens 2 Stunden täglich lernen oder an einer wissenschaftlichen Arbeit schreiben will. </p> 

<h3>Was sind mögliche Ausschlusskriterien für die Studie?</h3>
<p>Um ein möglichst repräsentatives Ergebnis zu erhalten ist es notwendig, dass die Teilnehmer während der Studie nicht an einer psychischen Erkrankung leiden, sich nicht in einer außergewöhnlichen Lebenssituation befinden (z.B. Tod eines Angehörigen) und im Sinne einer positiven Gruppendynamik über gute Umgangsformen verfügen.</p> 

<h3>Wer steckt hinter der Studie?</h3>
<p>Wir sind ein Gründungsteam von insgesamt 3 Gründern, die dabei sind ein Startup (StartWork) aufzubauen und hierbei vom Gründungsbüro der Humboldt-Universität in Berlin (Humboldt-Innovation) unterstützt werden.  Unser Team besteht aus einem Informatiker (Benedikt Voigt, 35), einem BWLer (Miro Wilms, 24) und einem Mediziner (Robert Sarrazin, 29). </p> 

<h3>Wofür wird die Studie verwendet?</h3>
<p>Es gibt für Startups zahlreiche Förderungsmöglichkeiten. Eine davon ist das Exist-Stipendium der Bundesregierung, das Startups in der frühen Phase der Entwicklung bei der Finanzierung unterstützt. Die Studie dient dazu, die Wirksamkeit des Geschäftsmodells mit wissenschaftlichen Methoden zu belegen.</p> 

<h3>Wie ist der genaue Studienablauf?</h3>
<p>
	<ol>
<li>Die Probanden registrieren sich auf www.startwork.in/studie</li>
<li>Sobald 30 Probanden zusammengekommen sind, kontaktieren wir euch über E-Mail.</li>
<li> Zum Kennenlernen findet zunächst ein Offline-Termin (ca. 60 Minuten) statt, voraussichtlich Abends um 19 Uhr um den 26.3.12 herum in einem Raum der Humboldt-Universität in Berlin Mitte. Der genaue Ort und Zeitpunkt werden ebenfalls über E-Mail mitgeteilt. Der genaue Zeitpunkt hängt vom Verlauf der Probandenrekrutierung ab. Während dieses Offline-Termins werden passend zu den gewünschten Arbeitszeiten durch 20 der Probanden Gruppen gebildet, die die Plattform dann gemeinsam nutzen werden. Die anderen 10 Probanden bilden eine Kontrollgruppe und werden die Plattform nicht nutzen. Außerdem wird ein kurzer Fragebogen ausgefüllt. </li>
<li>Die gesamte Studiendauer geht über 2 Wochen, voraussichtlich vom 27.3.12 bis zum 10.4.12. Der exakte Zeitraum hängt vom Verlauf der Probandenrekrutierung ab. In der 1. Woche lernt jeder Proband so wie sonst auch. In der zweiten Woche wird die Plattform genutzt bzw. die Kontrollgruppe lernt weiter wie sonst ohne Plattform. Es handelt sich hierbei um einen frühen Prototypen von Startwork, dessen Basisfunktionen jedoch gut nutzbar sind.</li>
<li>Über die 2 Wochen hinweg erhalten die Probanden täglich zu zufälligen Zeitpunkten 10 Klingelbenachrichtigungen auf ihrem Handy. Durch das kurze Handyklingeln/-vibrieren werden die Probanden gebeten, zu diesem Zeitpunkt in vorbereitete Notizbücher einzutragen, was sie gerade tun und ob diese Tätigkeit geplant war oder nicht. Studenten, die ein Smartphone besitzen, erhalten eine kostenlose Messenger-Nachricht mit der Bitte um Beantwortung statt des Notizbucheintrags.</li>
<li>Das Ergebnis wird ein prozentualer Unterschied zwischen den beiden Wochen in Bezug auf die Häufigkeit von Prokrastination sein, womit sich die Wirksamkeit der Plattform belegen lässt.</li>
<li>Nach der zweiten Studienwoche findet ein zweiter Offline-Termin (ca. 60 Minuten) statt. Genauer Ort und Zeitpunkt wird ebenfalls über E-Mail mitgeteilt. Hier werden die Notizbücher übergeben, die Studienteilnehmer werden kurz um ein Feedback zur Plattform gebeten und es wird ein einfacher Fragebogen ausgefüllt. Außerdem erhält jeder Studienteilnehmer 40 €. </li>
</ol></p> 

<h3>Wie genau erfolgt die Nutzung von Startwork?</h3>
<p>Die Probanden der Nutzergruppe bilden beim ersten Offline-Termin Gruppen, die zu ihren gewünschten Arbeitszeiten passen. Sie lernen sich ein paar Minuten gegenseitig kennen, während sie miteinander die gewünschten Arbeitszeiten besprechen. Die Wirkung von Startwork beruht im Wesentlichen auf sozialer Kontrolle. Die gesamte Arbeitszeit wird mit der Gruppe auf der Plattform verbracht. Während der besprochenen Arbeitszeiten bleiben die anderen Gruppenmitglieder für jeden Einzelnen in einer Leiste am rechten Bildschirmrand permanent sichtbar. Es läuft ein automatischer Timer, der einen Arbeitsrhythmus von jeweils 50 Minuten Arbeitsphase (Mikrofone stumm geschaltet) und 10 Minuten Pause (man kann sich unterhalten, mal einen Tee holen etc.) vorgibt. Bisherige Testpersonen von Startwork gaben an, dass sie nicht nur in hohem Maße konsequenter an ihren Arbeitsplänen festhielten, sondern durch die gefühlte Gruppenarbeit während der Nutzung von Startwork auch deutlich positivere Emotionen gegenüber dem alleine Arbeiten verspürten. </p> 

<h3>Ich möchte an der Studie teilnehmen, was muss ich machen? </h3>
<p>Registriere dich über unten stehenden Link. Du erhältst in den nächsten 3 Tagen von uns eine E-Mail.</p> 

<h3>Gehe ich mit der Registrierung oder im späteren Studienverlauf irgendwelche bindenden Verpflichtungen ein?</h3>
<p>Nein. Du kannst jederzeit aus der Studie aussteigen und natürlich löschen wir auf Wunsch auch sofort deine E-Mail-Adresse aus unserem Datensatz. Die 40 € erhältst du für die Teilnahme an den beiden Offline-Terminen und für das grundsätzliche Bemühen um die Einhaltung des Studienablaufs. Die Auszahlung der 40 € hängt jedoch nicht davon ab wie diszipliniert du dich an deine Arbeitszeiten gehalten hast.</p> 

<h3>Ich habe noch Fragen, an wen kann ich mich wenden?</h3>
<p>Schreibe einfach eine E-Mail an: <a href="mailto:Robert@startwork.in">Robert Sarrazin</a></p> 

<h3>Welche Vorteile habe ich von der Studienteilnahme? </h3>
<p>
	<ol>
<li>40 € in bar. </li>
<li>Nach der Studie kannst du den Prototypen direkt kostenlos weiter benutzen.  </li>
<li>Nach Markteinführung erhältst du ein Jahr lang einen kostenlosen Zugang zu Startwork (Wert: 60 €). </li>
</p> 

<a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>">Jetzt für die Studienteilnahme registrieren &raquo;</a></p>
