

<div class="hero-unit">

    
         <h2>Wir haben eine passende Gruppe gefunden!</h2><br>
         <p>Wir haben eine laufende Worksession für dich herausgesucht, 
	in die du jetzt als Gast reinschnuppern kannst. In der Gruppe sind:</p> <br> <br>

           <div class="row">
              <% @work_buddies.each do |work_buddy| %>
                <div class="span1">
                <img src="http://graph.facebook.com/<%=work_buddy.fb_ui%>/picture"><br>
                <%= work_buddy.first_name%>
              </div>
              <% end %>
           </div> <!-- row -->

         <br> <br>


		<p>Bevor du auf Beitreten klickst, mach dich bitte bereit:</p>

        <p>
		1. Leg dir deine Sachen zurecht, damit du gleich anfangen kannst zu arbeiten.<br>
		2. noch schnell einen Kaffee holen? Während der Worksession bitten wir dich nicht mehr aufzustehen, 
		um die anderen nicht zu stören!<br>
		3. StartWork! :-)<br>
		</p>

   <div id="join_guest_work_session" url='<%= "#{work_session_url}/guest" %>' class="btn btn-primary">Beitreten</div>

</div><!-- hero-unit -->
