

<div class="hero-unit">

    
         <h2>Wir haben eine passende Gruppe gefunden!</h2><br>
         <p>Wir haben eine laufende Worksession für dich herausgesucht, 
	in die du jetzt als Gast reinschnuppern kannst. In der Gruppe sind:</p> <br> <br>

            <b>-- noch nicht implementiert --</b>

         <br> <br> <br> <br>


		<p>Bevor du auf Beitreten klickst, mach dich bitte bereit:</p>

        <p>
		1. Leg dir deine Sachen zurecht, damit du gleich anfangen kannst zu arbeiten.<br>
		2. noch schnell einen Kaffee holen? Während der Worksession bitten wir dich nicht mehr aufzustehen, 
		um die anderen nicht zu stören!<br>
		3. StartWork! :-)<br>
		</p>

   <a href='<%= root_path %>' class="btn btn-primary">Weiter</a>
</div><!-- hero-unit -->
