<tr>
	<td colspan="2">&nbsp;</td>
		<td colspan="8">
			<p>Hallo <%= @user.first_name%>,</p>
			<p>Gratulation! Du hast den ersten Schritt getan, um produktiver zu werden.</p>
			<p>Starte jetzt, indem du dich mit deinen Freunden zum Arbeiten verabredest!</p>
		</td>
		<td colspan="2">&nbsp;</td>
</tr>

<tr height="50">
	<td colspan="3"></td>
	<td colspan="6" style="background: url('<%=root_url%>assets/fb_login_email.png');background-repeat: no-repeat;">
		<center>
			<a href="http://startwork.in/users/auth/facebook?utm_source=automated_email&utm_medium=email&utm_campaign=after_registration" style="text-decoration:none;color:white;font-weight:600;font-size:25px" target="_blank">Start work!</a>
		</center>
	</td>
	<td colspan="3">
		&nbsp;
	</td>
</tr>
		
<tr>
	<td colspan="2"  >&nbsp;</td>
	<td colspan="8">
		<br><p>Viel Erfolg!</p>
		<p>Dein StartWork-Team</p>
	</td>
	<td colspan="2">&nbsp;</td>
</tr>