<tr>
	<td colspan="2">&nbsp;</td>
		<td colspan="8">
			<p>Hallo <%= @user.first_name%>,</p>
			<p>Hast du bei der letzten Klausurvorbereitung auch zu spät mit Lernen angefangen? </p>
			<p>Wie lange versuchst du schon, an deiner wissenschaftlichen Arbeit zu schreiben?</p>
			<p>Werde endlich produktiver mit StartWork!</p>
		</td>
		<td colspan="2">&nbsp;</td>
</tr>

<tr height="50">
	<td colspan="3"></td>
	<td colspan="6" style="background: url('<%=root_url%>assets/fb_login_email.png');background-repeat: no-repeat;">
		<center>
			<a href="http://startwork.in/users/auth/facebook?utm_source=automated_email&utm_medium=email&utm_campaign=after_first_2_days_if_not_active" style="text-decoration:none;color:white;font-weight:600;font-size:25px" target="_blank">Start work!</a>
		</center>
	</td>
	<td colspan="3">
		&nbsp;
	</td>
</tr>
		
<tr>
	<td colspan="2"  >&nbsp;</td>
	<td colspan="8">
		<br><p>Viel Erfolg!</p>
		<p>Dein StartWork-Team</p>
	</td>
	<td colspan="2">&nbsp;</td>
</tr>


