	<tr><td colspan="2">&nbsp;</td>
			<td colspan="8">
					Hallo <%= @user.first_name%>,<br><br>
					Gratulation! Du hast den ersten Schritt getan, um produktiver zu werden.<br><br>
					Starte jetzt, indem du dich mit deinen Freunden zum Arbeiten verabredest!

			
			</td>
			<td colspan="2">&nbsp;</td></tr>

			<tr>
				<td colspan="3"></td>
				<td colspan="4" style="background: url('http://startwork.in/assets/fb_login_startwork.png');background-repeat: no-repeat;background-size: 171px 69px;">
					<center>
						<a href="http://startwork.in/users/auth/facebook" style="text-decoration:none;color:white;font-weight:bold;font-size:100%" target="_blank">Start work!</a>
					</center>
				</td>
				<td colspan="3">
					&nbsp;
				</td>
			</tr>
		
		<tr><td colspan="2"  >&nbsp;</td>
				<td colspan="8">
	<br>Viel Erfolg!<br><br>
						Dein StartWork-Team
				
				</td>
<td colspan="2">&nbsp;</td></tr>