<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
    <body 
style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
background-image:url('<%=root_url%>assets/grain.jpg')">
	<center>
		<br><br>
		<table border="0" width="480px" style="background-color:white;border-right: 1px solid #093022; border: 1px solid #093022;text-align:justify" 	
		 cellspacing1="10" cellpadding="15">


				
			<tr><td colspan="12"><img src="<%=root_url%>assets/start_work_lib_mail.png"></td></tr>
			
			<tr><td colspan="2">&nbsp;</td>
					<td colspan="8">
							Hallo <%= @user.first_name%>,<br><br>
							Gratulation! Du hast den ersten Schritt getan, um produktiver zu werden.<br><br>
							Starte jetzt, indem du dich mit deinen Freunden zum Arbeiten verabredest!

					</center>
					</td>
					<td colspan="2">&nbsp;</td></tr>

		<tr><td colspan="4" >&nbsp;</td>
				<td colspan="4" style="background-color:#0088cc;" >
					<center>
				<a href="<%=root_url%>users/auth/facebook" 
					
					style="text-decoration: none; color:white; font-weight:bold; font-size:100%">
					 Start work!</a>
				</center>
				</td>
				<td colspan="4" >&nbsp;</td></tr>
				
				<tr><td colspan="2"  >&nbsp;</td>
						<td colspan="8">
			<br>Viel Erfolg!<br><br>
								Dein StartWork-Team
						</center>
						</td>
						<td colspan="2">&nbsp;</td></tr>				
				
						<tr height="1px" style="font-size:1px">
							<td width="50px">&nbsp;</td>
							<td width="50px">&nbsp;</td>
							<td width="20px">&nbsp;</td>
							<td width="40px">&nbsp;</td>
							<td width="40px">&nbsp;</td>
							<td width="40px">&nbsp;</td>
							<td width="40px">&nbsp;</td>
							<td width="40px">&nbsp;</td>
							<td width="40px">&nbsp;</td>
							<td width="20px">&nbsp;</td>
							<td width="50px">&nbsp;</td>
							<td width="50px">&nbsp;</td></tr>

			
				</table>
				</center>

</center>
  </body>
</html>