<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
    <body style="background-image:url('/assets/grain.jpg')">
	<center>
		<br><br>
		<table b width="500px" style="background-color:white;border-right: 1px solid #093022; border: 1px solid #093022;" 	
		 cellspacing1="10" cellpadding="10">

				
			<tr><td colspan="6"><img src="<%=root_url%>/assets/start_work_lib_mail.png"></td></tr>
			
			<tr><td height="50px" colspan="6"><center>Willkommen <%= @user.first_name%> </td></tr>
			<tr><td colspan="2"  width="100px">&nbsp;</td>
				<td colspan="2" style="background-color:#0088cc;">
					<center>
				<a href="<%=root_url%>/users/auth/facebookStartWork!" 
					style="text-decoration: none; color:white; font-weight:bold; font-size:200%">
					 Start work!</a>
				</center>
				</td>
				<td colspan="2"  width="100px">&nbsp;</td></tr>
				<tr><td height="20px" colspan="6">&nbsp;</td></tr>
				
				<tr><td colspan="3" width="250px"
					style="font-size:23px"
					>Gemeinsam produktiver. <br><br>Mit Leuten wir dir.</td>
					<td colspan="3" width="250px">
						Mit StartWork kannst du mit Freunden
					      gemeinsam lernen und arbeiten, 
					     und dabei neue Leute kennenlernen. <br><br>
					Eine Studie hat gezeigt, 
					      dass es die Prokrastination ('Aufschieberitis') um 73% senkt.
						
						</td></tr>
			
				</table>
				</center>

</center>
  </body>
</html>