
<div class="whitebox emphasize" style="width:640px;margin:0 auto;">
	<p>Du bist noch nicht eingeloggt! Damit du loslegen kannst, musst du auf "Anmelden mit Facebook" klicken:</p><br>
	<center>
	<a id="facebook_link" href="<%=user_omniauth_authorize_path(:facebook)%>">
	   <img src='/assets/frontpage_facebook.png'></a><br>
	(Wir posten nichts auf deine Wall)
	</center>
</div>
<div class="line-top"></div>
<div class="emphasize">
	<h1>Was heißt Facebook Login?</h1>
	<p>Mit Facebook Login musst du nicht extra einen neuen Benutzernamen, Passwort und E-Mail angeben, sondern bist mit einem Klick registriert:</p><br>
	<img src="/assets/facebook_login_process.png">
</div>
<div class="line-bottom"></div>
<div class="row" style="margin:0 auto;width:802px;">
	<div class="span5">
		<div class="emphasize">
			<h3>Was wird an Facebook übermittelt?</h3><br>

			<p style="font-size:15px;"><b>Wir übermitteln keine Daten an Facebook!</b> Facebook erhält lediglich die Information, dass du dich auf StartWork eingeloggt hast.</p>
		</div>
	</div>
	<div class="vr" style="height: 250px;float: left;"></div>
	<div class="span5">
		<div class="emphasize">
			<h3>Was wird an StartWork übermittelt?</h3><br>

			<p style="font-size:15px;">Wir erhalten von Facebook nur die nötigsten Informationen, die wir brauchen, um deinen Account zu erstellen und dich und deine Freunde in passende Arbeitsgruppen zu organisieren.</p>

			<ul>
				<li><p style="font-size:15px;">Deine Daten werden ausschließlich zu diesem Zweck verwendet!</p></li>
				<li><p style="font-size:15px;">Deine Daten werden nicht an Dritte gegeben!</p></li>
			</ul>
		</div>
	</div>
</div>
<div class="line-top"></div>
<div class="emphasize">
	<div class="row whitebox" style="width:640px;margin:0 auto 40px auto;padding:20px 40px;">
		<h2>Deine Daten</h2><br>
		<div class="span2"></div>
		<div class="span3">
			<img src="/assets/aws-logo.png">
			<img src="/assets/logo_ssl_256bit.png">
		</div>
		<div class="span5">
			<p>Für den Betrieb der Plattform setzt StartWork auf Amazon Web Services (genutzt von Organisationen, wie UniCredit oder dem Fraunhofer Institut)</p>
			<p>Deine Daten werden stehts mit den höchsten Web-Standards verschlüsselt (256-Bit SSL)</p>
		</div>
		<div class="span2"></div>
	</div>
</div>
<div class="line-bottom"></div>