<br><br><br><br><br><br>

<center>
<a id="facebook_link" href="<%=user_omniauth_authorize_path(:facebook)%>">
   <img src='/assets/frontpage_facebook.png'></a><br>
(Wir posten nichts auf deine Wall)
</center>

<br><br><br><br><br><br>