<h1>Statistics</h1>

<b>
	<table class="table table-striped">
    	<thead>
		<tr>
		<th>Number of penalties</th>
		<th>Number of connections</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td><%=@number_of_penalties %></td>
		<td><%=@number_of_connections %></td>
		</tr>
		</tbody>
    </table>
	
