<h1>after_first_2_days_if_not_active</h1>

<% if @after_first_2_days_if_not_active.present? %>
   <table class="table">
   <% @after_first_2_days_if_not_active.each do |user| %>
   	<tr>
   		<td><%= user.id %></td>
   		<td><%= user.name %></td>
   		<td><%= user.created_at %></td>				
   		</tr>
   		<% end %>
   		</table>
   <%= link_to "Send mail", after_first_2_days_if_not_active_url, :method=>:post, :class=> "btn" %>

<% else %>
No users registered 2 days ago without any activities   
<% end %>