<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hallo,</h1>
    <p>
	<%= @sender_name%> (<%= @sender_mail %>) hat dich zu StartWork.in eingeladen.</p>
	
	<p>Auf StartWork.in kannst du gemeinsam mit deinen Freunden in Arbeitsgruppen lernen und arbeiten.</p>
	

<%= link_to "StartWork.in", root_url %>
<br><br>
Wir wünschen dir gutes Arbeiten!<br>
Dein StartWork.in Team
  </body>
</html>