<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hallo,</h1>
    <p>
	<%= @sender_name%> (<%= @sender_mail %>) hat dich zu StartWork.in eingeladen.</p>
	
	<p>Auf StartWork.in kannst du gemeinsam mit deinen Freunden in Arbeitsgruppen lernen und arbeiten.</p>
	
<p>Anfang April wollen wir eine Studie starten, an der du teilnehmen kannst und daf체r noch 40 Euro Aufwandsentsch채digung erh채ltst.</p>
<p>Bei Interesse registriere dich einfach unter:</p>

<%= link_to "StartWork.in", root_url %>
<br><br>
Wir w체nschen dir gutes Arbeiten!<br>
Dein StartWork.in Team
  </body>
</html>