<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hallo</h1>
    <p>
	Dein Freund <%= @sender_name%>(<%= @sender_mail %>) hat dich zu Startwork.in eingeladen.</p>
	
	<p>Auf Startwork.in kannst du gemeinsam mit deinen Freunden in Arbeitsgruppen lernen und arbeiten.</p>
	
<p>Anfang April wollen wir eine Studie starten, an der du teilnehmen kannst und dafür noch 40 Euro Aufwandsentschädigung erhältst.</p>
<p>Bei Interesse registriere dich einfach unter:</p>
<%= @url %>

  </body>
</html>