


	
<div class="video_window" id="test_video_window" 
  data-session_id="<%=@tokbox_session_id %>" 
  data-tok_token="<%=@tokbox_token%>" 
  data-api_key="<%=@tokbox_api_key %>" 
  data-user_id="<%=current_user.id%>">
  
 
    <center>
	<div id="voice_button" class="btn btn-danger">Sound on</div><br><br>
</center>


<!--	<center> -->
<div class='text_box'>
my video:<br>
</div><!-- text_box -->
  <div id ="publisher_box" class="stream_box">
	<center>
    <span id="publisher_box_tmp" ><!--class="label label-warning"-->
	  <!-- please wait...-->
	    <img src="/assets/video_dummy.gif">
    </span>
</center>
  </div>
<!--</center>-->


</div> <!-- video_window-->






