<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hallo Miro, Robert und Benedikt,</h1>
wir haben einen neuen Nutzer: <br>
Name: <%= @user.name %><br>
Email: <%= @user.email %><br>

  </body>
</html>