<h1><%= t(".title")%></h1>
<%= t(".description") %>
<div id="ben">ben</div><br>
<div id="ben_good">ben good</div><br>
<button type="button" id="ben1" class="ben1">ben1 - say hello</button> 

<span id="work_session"
  data-work_session_id=<%=params[:work_session_id] %>
</span>

<div id='calendar'></div>