<h1><%= t(".title")%></h1>
<%= t(".description") %>

<span id="data"
  data-base_url=<%= calendar_url %>
></span>

<div id='calendar'></div>
<br><br>
<%= link_to t(".back"), root_path, :class => "btn-large btn-primary"%>
