
/* clears mess after floating child-element */
.clr_fix {

    clear: both;
    height: 1%;

}

.whitebox {

	padding: 40px;
	margin-bottom: 30px;
	border: #d9d9d9 1px solid;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 640px;
	margin: 0 auto;
	line-height: 25px;

}

h1, h2, h3 h4 {

	font-family: "Gotham", "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;

}

.left {

	float:left;
	margin-right: 20px;
	margin-bottom: 40px;

}

.right {

	float:right;
	margin-left: 20px;
	margin-bottom: 40px;

}

.small {

	font-size: 12px !important; 

}

.btn-edit {

	background:url("/assets/edit.png") no-repeat;
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	padding:0;
}

.btn-edit:hover {

	background-position: 0 0;
	
}

.btn-edit:hover {

	background:url("/assets/edit.png");
	
}

.btn-join {

	background:url("/assets/check-icon.png") no-repeat;
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	padding:0;
}

.btn-join:hover {

	background-position: 0 0;
	
}

.btn-join:hover {

	background:url("/assets/check-icon.png");
	
}

.rst {

	margin:0;
	padding: 0;
	border:0;

}

.vr {

	width: 1px;
	background: #e7e7e7;
	border-left: #fdfdfd 1px solid;
	height: 100%;

}

.parisienne {
	font-family: 'Parisienne', cursive;
	font-size: 40px; 	
}

