
/* clears mess after floating child-element */
.clr_fix {

    clear: both;
    height: 1%;

}

.whitebox {

	padding: 40px;
	margin-bottom: 30px;
	border: #d9d9d9 1px solid;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0 auto;
	line-height: 25px;

}

h1, h2, h3 h4 {

	font-family: "Gotham", "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;

}

.left {

	float:left;
	margin-right: 20px;
	margin-bottom: 40px;

}

.right {

	float:right;
	margin-left: 20px;
	margin-bottom: 40px;

}

.small {

	font-size: 12px !important; 

}

.btn-edit {

	background:url("/assets/edit.png") no-repeat;
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	padding:0;
}

.btn-edit:hover {

	background-position: 0 0;
	
}

.btn-edit:hover {

	background:url("/assets/edit.png");
	
}

.btn-join {

	background:url("/assets/check-icon.png") no-repeat;
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	padding:0;
}

.btn-join:hover {

	background-position: 0 0;
	
}

.btn-join:hover {

	background:url("/assets/check-icon.png");
	
}

.rst {

	margin:0;
	padding: 0;
	border:0;

}

.vr {

	width: 1px;
	background: #e7e7e7;
	border-left: #fdfdfd 1px solid;
	height: 100%;

}

.parisienne {
	font-family: 'Parisienne', cursive;
	font-size: 40px; 	
}

#main_page_modal {

	left: 320px;
	top: 0px;
	width: 620px;
	position: absolute;
	margin:0;
	max-height: 9999px;
	border:0;
	z-index: 1020;

}

.modal-arrow {

	position: absolute;
	background: url('/assets/modal-arrow.png');
	width: 20px;
	height: 75px;
	left: -20px;
	z-index: 999999;

}

#main_page_modal {

	overflow: visible;

}

.modal.frontpage, .frontpage .modal-body {

	background: transparent;
	padding: 0;
	border: 0;
	box-shadow: 0 0 0;

}

.frontpage .modal-body{

	width: 500px;
	height: 405px;


}

.column_same_height {
   background:white;
   padding:0;
   min-height:500px;
   position:relative;
   text-align:center;
}

.emphasize p {

	font-size: 18px;
	font-weight: 200;
	line-height: 27px;

}

.line-top {

	background: url('/assets/separator-top-940.png');
	margin: 20px 0;
	height: 67px;

}

.line-bottom {

	background: url('/assets/separator-bottom-940.png');
	margin: 20px 0;
	height: 67px;

}

.span8 .line-top {

	background: url('/assets/separator-top-940.png');
	background-size: 620px 44px;
	width: 620px;
	margin: 20px 0;
	height: 44px;

}

.span8 .line-bottom {

	background: url('/assets/separator-bottom-940.png');
	background-size: 620px 44px;
	width:620px;
	margin: 20px 0;
	height: 44px;

}

.span6 .line-top {

	background: url('/assets/separator-top-940.png');
	background-size: 480px 34px;
	width: 480px;
	margin: 20px 0;
	height: 34px;

}

.span6 .line-bottom {

	background: url('/assets/separator-bottom-940.png');
	background-size: 720px 34px;
	width:480px;
	margin: 20px 0;
	height: 34px;

}

.carousel .item {-webkit-transition: opacity 1s; -moz-transition: opacity 1s; -ms-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

