// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.video_window
{
	width:220px;  /* the width of the content: add margin, border, padding*/
	height:600px;
	padding:0px;
	border:0px;
	margin:0px;
    outline:1px solid gray;
}

div.user_box { background-color:red; }

div.text_box { width:100px; height:100px; padding:5px; border:0px; margin:0px; outline:1px solid gray; float:left; }

div.stream_box { width:100px; height:100px; padding:5px; border:0px; margin:0px; outline:1px solid gray; float:left; }

div.stream_box_tmp { width:100px; height:100px; padding:0px; border:0px; margin:0px; outline:1px solid gray; }
