
// Place all the styles related to the work_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Full size of element: width(inner content) + padding + border + margin (outer)

$width: 200px;
$height: 200px;
$padding: 12px; 

div.upper_box {font-size: 20px;text-align:center;border-style:solid;border-color:white;border-width:$padding/2;background-color1:red;outline:0px solid gray;}


div.upper_box_old {font-size: 20px;line-height:$height/8;text-align:center;width:$width+$padding;border-style:solid;border-color:white;border-width:$padding/2;background-color:red;outline:0px solid gray;}


div.video_window
{
	padding:0px;
	border:0px;
	margin:0px;
    outline:0px solid gray;
}


div.user_box_old {      }


div.text_box { height:$padding; padding:0px; padding-left:$padding;border:0px; margin:0px; font-weight:bold; outline:0px solid gray; background-color1:green }
div.text_box_old { height:$padding; padding:0px; padding-left:$padding;padding-top:$padding;border:0px; margin:0px; font-weight:bold; outline:0px solid gray; background-color1:green }


div.stream_box { border-style:solid;border-width:$padding/4; margin:$padding/4;outline:0px solid gray;background-color11:red}

.publisher_hidden {
    height: 1px;
    left: -100px;
    top: -100px;
    width: 1px;
    position: absolute;
    overflow: hidden
}



