<% if my_or_friends=="my"%>
   <% if (appointments.nil? or appointments.empty?)  %>
   <hr>
   <p>Hier kannst du dich mit Freunden zum Arbeiten verabreden.</p>
  <% end %>
   <hr>
  <p>Deine Verabredungen:</p>
<% end %>




<% if !(appointments.nil? or appointments.blank?)%>
    <div style="margin-top:20px;">

        <% if my_or_friends=="friends" %>
            <hr>
            <p>Die nächsten Arbeitssessions deiner Freunde:</p>

		<% elsif my_or_friends=="my_received" %>
           <hr>
           <p>Erhaltene Einladungen:</p>    
        <% end %>        
    
        <% appointments.each do |appointment|%>
             <%= render :partial => "appointments/appointment", 
                 :locals => { :appointment => appointment, :my_or_friends => my_or_friends } %>
         <% end %>
       
    </div>
 <% else %>

        <% if my_or_friends=="my" %>

		
            <p class="small">Du hast noch keine Verabredungen!</p>
        <% end %>

<% end %>



