       <a href="#" id="delete_appointment" style="display:none"class="btn btn-danger btn-large " data-dismiss="modal">
	Termin löschen</a>
       <a href="#" id="save_appointment" style="display:none" class="btn btn-primary btn-large fb-reset"
  data-fb-reset-x="335" data-fb-reset-y="112">
	Weiter</a>
       <a href="#" id="join_appointment" style="display:none" class="btn btn-primary btn-large fb-reset"  
data-fb-reset-x="335" data-fb-reset-y="112">
	Bestätigen</a>		
       <a href="#" id="accept_appointment" style="display:none" class="btn btn-primary btn-large " data-dismiss="modal">
	Annehmen</a>
       <a href="#" id="close_appointment" style="display:none" class="btn btn-primary btn-large " data-dismiss="modal">
	Schließen</a>	
       <a href="#" id="request_appointment" style="display:none" class="btn btn-primary btn-large " data-dismiss="modal">
	Einladen</a>									
