

<!-- modal start-->
<div class="modal hide main-modal" id="main_page_modal" style="background:whitesmoke;">
  <div class="modal-arrow" style="left: -20px;"></div>


	  <div class="modal-header">
	     <button class="close" data-dismiss="modal">×</button>
	     <h2 id="main_modal_title">Termin für die Verabredung festlegen</h2>
  </div>
	
	
 <div class="modal-body" style="background:white;">
	  <%= render :partial => "appointments/appointment_picker" %>
	
		

  </div> <!-- end modal-body -->


	  <div class="modal-footer">

		  <%= render :partial => "appointments/appointment_buttons" %>


	</div><!-- modal-footer -->
</div>
<!-- modal end-->