

<!-- modal start-->
<div class="modal hide main-modal" id="main_page_modal" style="background:whitesmoke;">
  <div class="modal-arrow" style="left: -20px;"></div>


	  <div class="modal-header">
	     <button class="close" data-dismiss="modal">×</button>
	     <h2 id="main_modal_title">Termin für die Verabredung festlegen</h2>
  </div>
	
	
 <div class="modal-body" style="background:white;">
	  <%= render :partial => "appointments/appointment_picker" %>

  </div> <!-- end modal-body -->

	  <div class="modal-footer">
	       <a href="#" id="main_modal_invite" style="display:none" class="btn btn-success">
	    Freunde zum Termin einladen</a>
	       <a href="#" id="main_modal_delete" style="display:none"class="btn btn-danger" data-dismiss="modal">
		Termin löschen</a>
	       <a href="#" id="main_modal_save" style="display:none" class="btn btn-primary fb_reset_355_112">
		Weiter</a>
	       <a href="#" id="main_modal_join" style="display:none" class="btn btn-primary fb_reset_355_112">
		Bestätigen</a>		
	       <a href="#" id="main_modal_accept" style="display:none" class="btn btn-primary" data-dismiss="modal">
		Annehmen</a>
	       <a href="#" id="main_modal_close" style="display:none" class="btn btn-primary" data-dismiss="modal">
		Schließen</a>								


	</div><!-- modal-footer -->
</div>
<!-- modal end-->