


#timer_box {height:75px; line-height:75px;font-size: 20px;text-align:center;width:320px;background-color1:grey}

div.video_window
{
/*	width: 320px; */ /* the width of the content: add margin, border, padding*/
	height: 700px;
	padding:0px;
	border:0px;
	margin:0px;
    outline:1px solid grey;
}


div.user_box {      }

div.text_box1 { width:150px; height:150px; padding:5px; border:0px; margin:0px; outline:0px solid gray; float:left;background-color:green }

div.text_box {width:100%;padding:5px; border:0px; margin:0px; outline:0px solid gray; float:left;background-color:green }


div.stream_box { width:150px; height:150px; padding:5px; border:0px; margin:0px; outline:0px solid gray; float:left;background-color:red}

div.stream_box_tmp { width:150px; height:150px; padding:5px; border:0px; margin:0px; outline:0px solid gray; }