
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Start Work</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <%= javascript_include_tag "application" %>
 
</head>
 
<body>

	<%= yield %>
</body>
</html>
