
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Start Work</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <%= javascript_include_tag "application" %>
 
</head>
 
<body>
    <br>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
	<center>
        <h1>Start work!</h1><br>
 </center>

      </div>


	<div class="row">
	        <div class="span2">
	           &nbsp;          
	        </div>

	        <div class="span8">
	<%= yield %>
	       </div>
	        <div class="span2">
		<br>
	       <img src="/assets/to-do-list.jpg" width="400px">
	        </div>
	      </div>
     <hr>
      <footer>
        <p>&copy; StartWork 2012</p>
      </footer>

    </div> <!-- /container -->	
	

   

</body>
</html>


