<!DOCTYPE html>
<html>
	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
    <body>
		<div style="padding-top:15px;padding-bottom:15px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;background-image:url('<%=root_url%>assets/grain.jpg');">
			<center>
				<table border="0" width="502" style="background-color:white;border: 1px solid #093022;text-align:justify;display:table;border-collapse:collapse;border-spacing:0;" cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="12"><img src="<%=root_url%>assets/start_work_lib_mail.png" alt="Startwork Logo" style="display:block;"></td>
					</tr>


					<%= yield %>


					<tr height="1px" style="font-size:1px" cellpadding="0" cellspacing="0">
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
						<td width="38px">&nbsp;</td>
					</tr>
				</table>
			</center>
		</div>
	</body>
</html>